#flexy {
    display: grid;
    grid-template-columns: max-content 1fr;
}

html {
    width: 100vw;
}

body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #E7F2EF;
    color: #19183B;
}

input[type="checkbox"] + label::before {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    content: " ";
    display: inline-block;
    margin: 0 5px -2px -22px;
    background-color: white;
    border: 1px solid black;
}

input[type="checkbox"]:checked + label::before {
    background-color: black;
    background: radial-gradient(black 40%, white 40%);
}

#text > h1 {
    margin: 0;
    font-size: 64px;
}

p {
    font-size: 20px;
}

label, button, br, input {
    user-select: none;
    font-size: 18px;
}

#text > button {
    position: relative;
    background-color: #E7F2EF;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black 0 2px;
}

#text > button:hover {
    background-color: #93afba;
    
}

#text > button:hover:active {
    box-shadow: none;
    top: 2px;
}

#text {
    position: static;
    padding: 10px 20px;
    background: #a1c2bd;
    box-shadow: #a1c2bd 0 0 60px 60px
}

#text > .indent {
    margin: 0 0 8px 20px;
}

#canvasbox {
    justify-self: center;
    position: relative;
    width: 750px;
    height: 650px;
    margin: 10px 25px 0 0;
}

#canvas {
    width: 750px;
    height: 650px;
    border: 3px solid #19183B;
    position: absolute;
    border-radius: 25px;
}

#canvasbox > button {
    background-color:#0000;
    border-color: #0000;
    border-radius: 100%;
    
    width: 51px;
    height: 51px;
    position: absolute;
}
